<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">

    <title>PNIbot</title>

    <link rel="stylesheet" href="/static/styles.css" />

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
    <video autoplay muted loop playsinline id="bg-video">
        <source src="/static/background.mp4" type="video/mp4">
        Ваш браузер не поддерживает видео.
    </video>

    <div id="app-container">

        <div id="sidebar-wrapper">
            <button id="toggle-sidebar-btn" title="Свернуть/развернуть боковую панель">→</button>

            <aside id="sidebar">
                <div class="sidebar-header">
                    <h2>PNIchat</h2>
                    <button id="new-chat-btn" onclick="createNewChat()">+ Новый чат</button>
                </div>

                <div class="search-box">
                    <input type="text" id="search-chats" placeholder="Поиск в чатах" oninput="filterChats()">
                    <span class="search-icon"></span>
                </div>

                <div id="chats-list"></div>

                <div class="sidebar-footer">
                    <div class="user-info">
                        <span class="avatar">A</span>
                        <span>WIP</span>
                    </div>
                </div>
            </aside>
        </div>

        <main id="main-chat">
            
            <div id="chat"></div>

            <div id="user-message-and-send">
                <textarea id="userInput" placeholder="Введите ваш вопрос..." rows="2"></textarea>
                <button onclick="sendMessageStream()" id="send-message">→</button>
            </div>
        </main>
    </div>

    <script src="/static/scripts.js"></script>
</body>
</html>